@import "_vars.scss";

.thumbnails {
  display: flex;
  flex-wrap: nowrap;

  width: 100%;
  height: 128px;
  overflow-x: auto;

  > button {
    flex-grow: 0;
    width: 100%;
    height: 100%;
    display: block;

    &:not(:last-child) {
      margin-right: 1em;
    }
  }

  img {
    display: block;
    height: 100%;
    object-fit: cover;

    &:not(.selected) {
      opacity: 0.6;
    }
  }
}
